<h1>id:<%= @task2.id %>のタスク詳細</h1>

<p><%= @task2.content %></p>
<%= link_to '一覧に戻る', task2s_path %>
<%= link_to '編集ページへ', edit_task2_path(@task2) %>
<%= link_to '削除する', @task2, method: :delete, data:{ confirm: '本当によろしいですか？'} %>